@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
    box-sizing: border-box !important;
}

body {
    background: #fff;
    clear: both !important;
    font-family: "Varela Round", sans-serif;
}


.btn {
    &:hover {
        background: $bg-white;
    }

    &-shadow {
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
}

.scroll-none {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.dark {
    background: $black;
    color: $white;

    a {
        color: $white;
    }

    strong {
        color: $white;
    }


}